
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
}


#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


a {
  color: #0070f3;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}


h1, h2, h3 {
  font-weight: 700;
  margin-bottom: 1rem;
}

button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
